<ul>
	{{#each user in controller}}
  		<li {{action "selectUser" user}}>{{user.nickname}} </li>
	{{/each}}
</ul>

<br/>
<br/>

{{#if Edit}}
	<form {{action "updateUser" on="submit"}}>
		nickname : {{input name="nickname" value=UserEditParam.nickname}}<br/>
		{{input type="submit" value="save"}} <button {{action "deleteUser" }}>delete</button>
	</form>
{{/if}}