<ul>
	{{#each user in controller}}
  		<li {{action "selectUser" user}}>{{user.nickname}} </li>
	{{/each}}
</ul>

<br/>
<br/>

{{#if Edit}}
	<form {{action "updateUser" this on="submit"}}>
		id : {{UserEdit.id}}<br/>
		nickname : {{input name="nickname" value=UserEdit.nickname}}<br/>
		{{input type="submit" value="save"}}
	</form>
{{/if}}